@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;900&display=swap');

:root {
  --green: #36aa92;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #100e17;
}